* {
  font-family: "Poppins", sans-serif;
}

body {
  font-weight: 400;
}

h1,
h2 {
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.custom-container {
  width: 90%;
  max-width: 1500px;
}

.custom-row {
  --bs-gutter-x: 0;
}

.custom-row-left {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.custom-hr {
  margin-top: 1rem;
  margin-bottom: 0;
}

.custom-btn-secondary {
  margin-top: 1rem;
  width: 100%;
}

.custom-form-label {
  font-size: 1.1rem;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.custom-card {
  margin-left: 0.6rem;
  /* padding-right: 0.4rem; */
  padding-left: 0.4rem;
}

.custom-large-card {
  margin-right: auto;
}

.card-background {
  background-color: #a6f0e3;
}

.custom-card-text {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.6rem;
}

/* uvi button background colours */
.disable-hover {
  pointer-events: none;
}

.btn-success {
  background-color: #157347;
  color: white;
}

.btn-warning {
  background-color: #ffca2c;
}

.btn-high {
  background-color: #fd7e14;
  border-color: #ff7600;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-extreme {
  background-color: #6f42c1;
  border-color: #6610f2;
  color: white;
}

@media only screen and (max-width: 768px) {
  .custom-row-left {
    margin-left: auto;
  }
  .custom-large-card {
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .custom-large-card {
    margin-right: 2rem;
  }
}

@media (min-width: 1200px) {
  .row-cols-lg-5 > * {
    width: 18%;
  }

  .custom-large-card {
    margin-right: 3rem;
  }
}
